<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table style="width:100%; border: 1px; color: red">
  <thead>
    <tr>
      <th>Purchaser Name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Purchase Count</th>
      <th>Merchant Address</th>
      <th>Merchant Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.purchaser_name %></td>
        <td><%= item.item_description %></td>
        <td><%= item.item_price %></td>
        <td><%= item.purchase_count %></td>
        <td><%= item.merchant_address %></td>
        <td><%= item.merchant_name %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3> Import new item </h3>
<%= form_tag import_items_path, multipart:true do%>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload item" %>
<% end %>

<%= link_to 'New Item', new_item_path %>
