<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaser name:</strong>
  <%= @item.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @item.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @item.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @item.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @item.merchant_name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
